*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;;
}
h1 {
    font-size: 44px;
    font-weight: bolder;
    margin-top: 44px;
    margin-bottom: 34px;
}
span{
    color: orange;
}
.half-container {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-container img{
    width: 100%;
}
.felxcontainer{
    display: flex;
    margin-bottom: 150px;
}
.btn{
    text-decoration: none;
    background: linear-gradient(45deg
, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

p {
    margin-bottom: 32px;
    color: gray;
}
.banner{
    background-image: url(../img/top-banner.png);
    
    background-repeat: no-repeat;
}
.dream{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}